*.o
*.lo
.deps
.libs
*.out
*.log

tests/*.trs

scripts/symbols.chk
config.h
config.status
libpng.pc
libpng.vers
libpng16.la
libpng16.pc
libpng16-config
libpng-config
libtool
Makefile
pngcp
pngfix
png-fix-itxt
pngimage
pnglibconf.c
pnglibconf.h
pngout.png
pngprefix.h
./pngstest
./pngtest
pngunknown
pngvalid
stamp-h1
test-suite.log
timepng
pngtest
pngstest